
/* CSS HEX */
:root {
    --lavender-web: #d8d3dfff;
    --rebecca-purple: #543f86ff;
    --russian-violet: #2d1a5bff;
    --tekhelet: #422b79ff;
    --medium-slate-blue: #8d6adfff;
}

body {
    background-color: var(--lavender-web);
}

body hr {
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
    background-color: black;
    height: 3px
}

#title-name {
    font-size: 4rem;
    text-align: right;
    color: var(--russian-violet);
    margin-left: auto;
    margin-right: auto;
    height: auto;
    line-height: 3.5rem;
    flex-grow: 1;
}

#title-container {
    display: flex;
    /*transform: rotate(5deg);*/
    height: 6dvh
}

#title-note-icon {
    color: var(--tekhelet);
    width: 4rem;
    flex-grow: 1;
}

#space {
    background-color: aqua;
    padding: 30px;
    border: 10px, black, solid;
    border-radius: 20px;
}

#main-space {
    margin: 2.5%;
    
    border: var(--russian-violet) 12px solid;
    border-radius: 50px;
    background-color: rebeccapurple;
    padding: 50px;
    justify-items: center;
}

#posting-space {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
    justify-items: center;
    width: 100%;
}

.post-container {
    background-color: var(--lavender-web);
    min-width: 100px;
    max-width: 500px;
    border: var(--russian-violet) solid, 8px;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

.post-username {
    margin-top: 0;
}

.post-title {
    font-family: Wix Madefor;
}

#load-posts-button {
    border: var(--russian-violet), 5px, solid;
    background-color: var(--medium-slate-blue);
    color: var(--russian-violet);
    font-size: 30px;
    border-radius: 15px;
    margin-top: 30px;
    user-select: none;
}

#load-posts-button:hover {
    background-color: var(--rebecca-purple);
    cursor: pointer;
}

#load-posts-button:active {
    background-color: var(--tekhelet);
    cursor: pointer;
}

#add-post-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 40px;
    padding: 20px;
    font-size: 18px;
    border: var(--russian-violet) 7px solid;
    background-color: var(--medium-slate-blue);
    border-radius: 20px;
    user-select: none;
}

#add-post-btn:hover {
    background-color: var(--rebecca-purple);
    cursor: pointer;
}

#add-post-btn:active {
    background-color: var(--tekhelet);
    cursor: pointer;
}